{% extends "mvhbc/scaffolding.html" %}
{% load staticfiles %}
{% load mvhbc_tags %}
{% block content %}

<script>
    history.pushState({}, "", "/competition/account/");
</script>

<div class="comp-welcome container-fluid">
    <div class="clearfix">
        <h2 class="pull-left">MVHBC Homebrew Competition - July 9th, 2016</h2>
        <div class="pull-right">Logged in as: {{ user.username }} | <a href="{% url "logout" %}">Logout</a></div>
    </div>
    <br><br>
    <div class="clearfix userBar">
        <h4 class="pull-left">{{ user.first_name}} {{ user.last_name }}</h4>
        <a href="{% url 'locations' %}" class="btn btn-info btn-sm pull-right comp-stackedRight">Drop-off Locations</a>
        <a href="{% url 'info' %}" class="btn btn-info btn-sm pull-right comp-stackedRight">Competition Information</a>
    </div>
    <br>

    {% if infoMsg %}
    <div class="bg-info">{{ infoMsg }}</div>
    {% endif %}

    <br>
    <div class="row">
                
        <div class="col-md-8">

    <h3 class="form-title">Competition Submissions</h3>
            <div class="submissionContainer">
                <div class="submissionCard">
                    <div class="submission-header">Add New Submission</div>
                    <form id="" class="submission-form edit-form" method="post" action="{% url "add_submission" %}">
                        {% csrf_token %}
                        {% for field in submissionForm %}
                        <div class="form-group">
                            <label>{{ field.label_tag }}</label>
                            {{ field|addcss:"form-control input-sm" }}
                            <div class="text-danger bg-danger">{{ field.errors }}</div>
                        </div>
                        {% endfor %}
                        <div class="clearfix submissionCardButton form-group"><input id="submissionAddNew" type="submit" class="btn btn-sm btn-primary pull-right" value="Add"  
                        disabled="disabled"></div>
                    </form>
                </div>

                {% if entries %}
                {% for s in entries %}

                <div class="submissionCard">
                    
                    <div class="submission-header">Entry {{ s.competition_id }}</div>

                    <form class="submission-form static-form" method="post" action="/competition/account/submission/remove/{{ s.pk }}">
                        {% csrf_token %}
                        <div><label>Name: </label></div>
                        <div><strong>{{ s.name }}</strong></div>
                        <div><label>Style: </label></div>
                        <div><strong>{{ s.style }}</strong></div>
                        <div><label>Comments: </label></div>
                        <div><strong>{{ s.comments }}</strong></div>
                        <div class="submissionCardButton clearfix">
                            {% if s.paid %}
                            <span class="label label-success paid-label pull-left">Paid</span>
                            {% else %}
                            <span class="label label-default paid-label pull-left">Paid</span>
                            {% endif %}
                            {% if not s.paid %}
                            <input type="submit" class="btn btn-sm btn-primary pull-right" value="Delete">
                            {% endif %}
                            <a href="print/{{ s.pk }}" target="_blank" class="btn btn-info btn-sm pull-right comp-stackedRight">Print Label</a>
                            </div>
                    </form>
                </div>

                {% endfor %}
                {% endif %}

            </div>
<br><br>
<div class="well">
            <h3>Submission Rules</h3><br>
            <ul class="comp-rules">
            <li>Entries must be dropped off or arrive shipped by Saturday, July 9th 2016</li>
            <li>Two (2) bottles per entry, 10 to 16 ounces, any style. No labels or silk-screening, is allowed. Raised lettering on bottles is strongly discouraged, but bottles with generic raised lettering will be accepted. Caps must be plain or blacked out.</li>
            <li>Entry fee is $7.00 if paid by check and $7.50 if paid by PayPal per entry.</li>
            <li>If paid by Paypal please include your Entry IDs in the field provided.</li>
            <li>If paid by check please list the Entry Ids on the check or on a separate piece of paper included with your entries.  Please make checks payable to "Merrimack Valley Homebrew Club"</li>
            </ul>
</div>
        </div>



        <div class="col-md-4">

        <h3 class="form-title">User Information</h3>
        <p>Update your profile information and set your Judge or Steward preferences to indicate you are interested in volunteering to officiate at the competition.  All users who set Judge preferences will be contacted about volunteering at the competition.</p>

            <!-- USER PROFILE -->
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">User Profile</h3>
                    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="collapse" data-target="#collapseUser">Edit</button>
                </div>
                <div id="collapseUser" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body"> 
                        <form id="addressForm" class="" method="post" action="{% url "update_profile" %}">
                            {% csrf_token %}
                            {% for field in userForm %}
                            <div class="form-group">
                                <label>{{ field.label_tag }}</label>
                                {{ field|addcss:"form-control input-sm" }}
                                <div class="text-danger bg-danger">{{ field.errors }}</div>
                            </div>
                            {% endfor %}
                            <input type="submit" class="btn btn-primary btn-xs pull-right" value="Update">
                        </form>
                    </div>
                </div>
            </div>

            <!-- ADDRESS INFO -->
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Address</h3>
                    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="collapse" data-target="#collapseAddress">Edit</button>
                </div>
                <div id="collapseAddress" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <form id="addressForm" class="" method="post" action="{% url "update_address" %}">
                            {% csrf_token %}
                            {% for field in addressForm %}
                            <div class="form-group">
                                <label>{{ field.label_tag }}</label>
                                {{ field|addcss:"form-control input-sm" }}
                                <div class="text-danger bg-danger">{{ field.errors }}</div>
                            </div>
                            {% endfor %}
                            <input type="submit" class="btn btn-primary btn-xs pull-right" value="Update">
                        </form>
                    </div>
                </div>
            </div>

            <!-- JUDGE PREFERENCES -->
              <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Judge/Steward Preferences</h3>
                    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="collapse" data-target="#collapseJudge">Edit</button>
                </div>
                <div id="collapseJudge" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <form id="judgeForm" class="userForm" method="post" action="{% url "update_judge" %}">
                            <div>The competition will be held in Lowell, Massachusetts.  Users who select the option to volunteer as a Judge or Steward for the event will be contacted about participating.</div><br>
                            {% csrf_token %}
                            {% for field in judgeForm %}
                            <div class="form-group">
                                <label>{{ field.label_tag }}</label>
                                {{ field|addcss:"form-control input-sm" }}
                                <div class="text-danger bg-danger">{{ field.errors }}</div>
                                {% if field.name == 'judge_preference' %}
                                <div class="pull-right text-warning">Preference Field Required</div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <input type="submit" class="btn btn-primary btn-xs pull-right" value="Update" disabled="disabled">
                        </form>
                    </div>
                </div>
            </div>

            <!-- PAYMENT SECTION -->
            <div class="">
                <h3 class="form-title">Payments</h3>
                      Payments accepted by two methods:
                      <ol><li>Personal Check - make payable to "Merrimack Valley Homebrew Club"</li>
                          <li>Paypal - see following form</li>
                      </ol><br>
                <h4>PayPal Payments</h4><br>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="EL8R58J8K5YKU">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Entries">Entries</td></tr><tr><td><select name="os0">
                        <option value="1">1 $7.50 USD</option>
                        <option value="2">2 $15.00 USD</option>
                        <option value="3">3 $22.50 USD</option>
                        <option value="4">4 $30.00 USD</option>
                        <option value="5">5 $37.50 USD</option>
                        <option value="6">6 $45.00 USD</option>
                        <option value="7">7 $52.50 USD</option>
                        <option value="8">8 $60.00 USD</option>
                        <option value="9">9 $67.50 USD</option>
                        <option value="10">10 $75.00 USD</option>
                    </select> </td></tr>
                        <tr><td><input type="hidden" name="on1" value="Entry IDs">Entry IDs</td></tr><tr><td><input type="text" name="os1" maxlength="200">
                        <br><small>Your Entry IDs:
                            {% if entries %}
                            {% for s in entries %}
                            {{s.competition_id}},
                            {% endfor %}
                            {% endif %}
                        </small>
                    </td></tr>
                    </table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                <small>PayPal entries should be marked as paid within 24 - 48 hours</small>
            </div>

        </div>

    </div>
</div>


{% endblock content %}
